.NavigationItem {
  display: flex;
  width: auto;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}

.NavigationItem a {
  display: block;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  border-bottom: 4px solid transparent;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4C8;
  background-color: #8F5C2C;
  border-bottom: 4px solid #40A4C8;
}

@media(max-width:500px) {
  .NavigationItem {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
  .NavigationItem a {
    width: 100%;
    color: #8F5c2c;
  }
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #40A4C8;
    background-color: unset;
    border-bottom: none;
  }
}